#### Import the `pandas` library in order to read and visualize the csv file

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('../DataSets/Total_nacional_acceso_banda_ancha_y_angosta.csv', sep = ',')

##### Inspect the first five values

In [18]:
df.head()

    Año  Trimestre  Banda ancha fija  Dial up  Total        Periodo
0  2022          4                11       12     11   Oct-Dic 2022
1  2022          3                11       12     11  Jul-Sept 2022
2  2022          2                11       12     11   Abr-Jun 2022
3  2022          1                11       13     11   Ene-Mar 2022
4  2021          4                10       13     10   Oct-Dic 2021

In [14]:
df['Año'].value_counts()

Año
2022    4
2021    4
2020    4
2019    4
2018    4
2017    4
2016    4
2015    4
2014    4
Name: count, dtype: int64

##### Check the columns data type and the DataFrame memory usage

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               36 non-null     int64
 1   Trimestre         36 non-null     int64
 2   Banda ancha fija  36 non-null     int64
 3   Dial up           36 non-null     int64
 4   Total             36 non-null     int64
 5   Periodo           36 non-null     object
dtypes: int64(5), object(1)
memory usage: 1.8+ KB